<h2>Putting your services online?</h2>
<p>You see opportunities in delivering business services over the Internet and
mobile devices but has technology concerns.</p>
<p>
<ul class="bulletted">
    <li>How do you implement and grow the online service cost-effectively?</li>
    <li>What are the security pitfalls and how can you address them?</li>
    <li>How do you optimise your development processes, whether you're doing it in house or outsourced?</li>
</ul>
</p>
<p>Whether you're starting from scratch or enhancing an existing system,
we can help.</p>
<p>
Using appropriate communications, processes and tools to solve your problems,
we take a pragmatic engineering approach to bring you the best results.
</p>
<table class='table'>
  <tr>
    <th>Online Services</th>
    <td>Feasibility Study, Technology Strategy, Sustainability Assurance, Implementation, Deployment</td>
  </tr>
  <tr>
    <th>Consulting</th>
    <td>Training, Analysis, Architecture Engineering and Review</td>
  </tr>
  <tr>
    <th>Virtual CTO</th>
    <td>Technology Management, Process and Tools Optimisation, Outsource Management</td>
  </tr>
</table>
