<h2>Putting your business online?</h2>
<p>You see opportunities in delivering services over the Internet and
mobile devices but has technology concerns.</p>
<p>We can help, whether you're starting from scratch or enhancing an existing system.</p>
<p>
Using appropriate communications, processes and tools to solve your problems,
we take a pragmatic engineering approach to bring you the best results.
</p>
<table class='table'>
  <tr>
    <th>Online Business</th>
    <td>Feasibility Study, Technology Strategy, Sustainability Assurance, Implementation, Deployment</td>
  </tr>
  <tr>
    <th>Consulting</th>
    <td>Training, Analysis, Architecture Engineering and Review</td>
  </tr>
  <tr>
    <th>Virtual CTO</th>
    <td>Technology Management, Process and Tools Optimisation, Outsource Management</td>
  </tr>
</table>
